@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Viet Nam<br />  
    <abbr title="Phone">Phone:</abbr>
    +84846233245
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:huylagcc19056@fpt.edu.vn">huylagcc19056@fpt.edu.vn</a><br />
</address>